@charset "UTF-8";
/* CSS Document */
/* Main */
.gallery {
	background-color: #F8EBF3;
	padding: 15px 0px 15px 50px;
	margin-left: -50px;
	width: 100%;
}
.gallery h1 {
	text-align: center;
}
.picdiv {
	display: inline-block;
	margin-bottom: 25px;
	margin-left: 1%;
	padding-top: 
}
.pic {
	border-radius: 5px;
	max-height: 300px;
	height: auto;
}
/* Mobile */
@media (max-width: 767px) {
	.pic {
		max-width: 90%;
	}
}
/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
	.pic {
		max-width: 50%;
	}
}